page-credit {
    .ion-content{    
    background-color: #003146;
    } 

    .card-style{
      background-color:rgb(182, 177, 177);
      border: 1px solid;
      box-shadow: 5px 10px; 
      border-radius: 25px;

    } 
}
