page-info {
    .ion-content{
        background-color: #02374e; 
    } 

    .profile-user-name{
        margin: auto;
        text-align: center;
        color: goldenrod;
        font-size: 22px;
}  

.h1{
    color :  #02374e;
    text-align: center; 
}

.balance-card{ 
    border-bottom-color: #003146;
    padding-left: 20px;
}  
.round-img {
    border-radius: 100%;
    height: 24%;
    width: 42%;
    margin: auto;
    display: block;
}  

.div-class{
    align-items: center;
}
.card-design{
    
    border: 1px solid;
    box-shadow: 5px 10px;
    border-radius: 25px;
}
}
